.navbar {
  width: 100%;
  margin-bottom: 1rem;
}

.listItem>ul {
  max-width: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 1rem;
}

.navbar>img {
  max-width: 50px;
  height: auto;
}

.button {
  appearance: none;
  font-size: large;
  background-color: transparent;
  border-radius: 40px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin: 1rem;
  min-height: 60px;
  min-width: 130px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  color: #fff;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: rgb(2, 2, 2);
  background-color: #FEF5AC;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}